body {
  margin: 20px;
}

.square {
  box-sizing: border-box;
  padding: 0;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin-top: -1px;
  margin-right: -1px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.red {
  color: rgb(172, 16, 16);
}

.blue {
  color: rgb(2, 2, 188);
}

.piece {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -13px;
}

.queen {
  font-size: 50px;
}


.highlighted {
  color: rgba(240, 255, 255, 0.56);
  font-size: 50px;
  top: -7px;
}
.board-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 400px) {

  body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .square {
    height: 40px;
    width: 40px;
  }

  .piece {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
  }
  
  .queen {
    font-size: 42px;
  }
  
  .highlighted {
    color: rgba(240, 255, 255, 0.56);
    font-size: 42px;
  }

}

